* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* HERO */
.hero {
    background: #111;
    color: white;
    padding: 80px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 40px;
    color: orange;
}

.hero p {
    margin: 15px 0;
    font-size: 18px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 25px;
    background: orange;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

/* SECTIONS */
section {
    max-width: 900px;
    margin: auto;
    padding: 50px 20px;
}

h2 {
    margin-bottom: 20px;
    border-left: 5px solid orange;
    padding-left: 10px;
}

/* SKILLS */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 15px;
}

.skills-grid span {
    background: white;
    padding: 12px;
    text-align: center;
    border-radius: 5px;
}

/* PROJECTS */
.project-card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-left: 4px solid orange;
}

/* CONTACT */
#contact p {
    margin-bottom: 10px;
}

/* FOOTER */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
}
